@media only screen and (max-width: 1400px) {
  .header_right {
    gap: 15px; }
    .header_right a:last-child {
      padding: 10px 20px; } }

@media only screen and (max-width: 1270px) {
  .header {
    padding: 17px 0; }
  .header_right {
    font-size: 12px; }
    .header_right a:last-child {
      margin-left: 20px; }
      .header_right a:last-child .red_link {
        font-size: 10px; }
        .header_right a:last-child .red_link:hover {
          opacity: 1; } }

@media only screen and (max-width: 1190px) {
  .header_link_none {
    display: none; }
  .header_right {
    font-size: 14px;
    gap: 20px; }
    .header_right a:last-child {
      margin-left: 20px; }
  .wr_left_title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 5px; }
  .wr_left_first_text {
    font-size: 13px;
    margin-bottom: 25px; }
  .wr_left_last_text {
    padding-right: 25px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px; }
  .wr_left_about {
    max-width: 390px; }
  .wr_left_links {
    font-size: 11px;
    margin-bottom: 15px; }
  .join {
    padding: 15px 40px;
    border-radius: 5px; }
  .more_about {
    padding: 15px 40px;
    border-radius: 5px; }
  .address {
    padding: 10px; }
  .address_title {
    font-size: 10px; }
  .address_text {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4); } }

@media only screen and (max-width: 1000px) {
  .wr_left_title {
    font-size: 30px;
    line-height: 40px; }
  .wr_left_first_text {
    font-size: 12px;
    margin-bottom: 20px; }
  .wr_left_last_text {
    padding-right: 50px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px; }
  .wr_left_about {
    max-width: 340px; }
  .wr_left_links {
    font-size: 10px;
    gap: 10px;
    margin-bottom: 10px; }
  .join {
    padding: 15px 34px; }
  .more_about {
    padding: 15px 34px; }
  .address_text {
    font-size: 13px; }
  .wrapper_1_center {
    margin-bottom: 35px; } }

@media only screen and (max-width: 870px) {
  header {
    margin-bottom: 10px; }
  .wr_left_title {
    font-size: 25px;
    line-height: 35px; }
  .wr_left_first_text {
    font-size: 10px;
    margin-bottom: 15px; }
  .wr_left_last_text {
    padding-right: 50px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px; }
  .wr_left_about {
    max-width: 300px; }
  .join {
    padding: 10px 24px; }
  .more_about {
    padding: 10px 24px; }
  .address_text {
    font-size: 11px; }
  .address {
    border-radius: 5px; }
  .wrapper_1_center {
    margin-bottom: 30px; } }

@media only screen and (max-width: 780px) {
  header {
    margin-bottom: 10px; }
  .wr_left_title {
    font-size: 25px;
    line-height: 35px; }
  .wr_left_first_text {
    font-size: 10px;
    margin-bottom: 15px; }
  .wr_left_last_text {
    padding-right: 0px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px; }
  .wr_left_about {
    max-width: 300px; }
  .join {
    padding: 10px 24px; }
  .more_about {
    padding: 10px 24px; }
  .address_text {
    font-size: 11px; }
  .address {
    border-radius: 5px; }
  .wrapper_1_center {
    margin-bottom: 30px; } }

@media only screen and (max-width: 690px) {
  .header_right {
    display: none; }
  .wr_right {
    display: none; }
  .header_right_two {
    display: block; }
  .logo {
    gap: 10px; }
  .logo_text {
    font-size: 15px; }
  .logo_img {
    width: 25px; }
  .shibu_img_2 {
    display: block; }
  .header::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 256px;
    left: 0%; }
  .wr_left {
    width: 100%; }
    .wr_left::after {
      width: 80%;
      height: 100%;
      left: 50%;
      bottom: 15%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */ }
  .wr_left_title {
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px; }
  .wr_left_first_text {
    font-size: 15px;
    margin-bottom: 40px; }
  .wr_left_last_text {
    font-size: 22px;
    line-height: 26px;
    max-width: 300px;
    margin-bottom: 30px; }
  .wr_right_2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 40px; }
    .wr_right_2 img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .wr_left_about {
    max-width: 470px;
    margin: 0 auto; }
  .wr_left_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 19px;
    margin-bottom: 15px;
    gap: 15px; }
  .join {
    padding: 20px 50px;
    border-radius: 10px; }
  .more_about {
    padding: 20px 25px;
    border-radius: 10px; }
  .address {
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 10px;
    padding: 12px 15px; }
  .address_title {
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 5px; }
  .address_text {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4); } }

@media only screen and (max-width: 440px) {
  .wr_left_about {
    max-width: 320px; }
  .address_title {
    font-size: 11px; }
  .address_text {
    font-size: 12px; }
  .bottom_content {
    padding: 6px 0;
    animation: slide 5s linear infinite reverse; } }
