@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=No75to+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*���������*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'SF Pro Display';
  color: #FFFFFF; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  background-color: #101932; }

a {
  color: #FFFFFF; }

.screen_1 {
  background: -webkit-linear-gradient(189.19deg, #162758 2.47%, #0A142A 97.49%);
  background: -o-linear-gradient(189.19deg, #162758 2.47%, #0A142A 97.49%);
  background: linear-gradient(260.81deg, #162758 2.47%, #0A142A 97.49%); }

.container {
  max-width: 1556px;
  margin: 0 auto;
  padding: 0 20px; }

header {
  margin-bottom: 20px; }

.header {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2; }
  .header::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 256px;
    left: -10%;
    top: -87px;
    background: -webkit-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    background: -o-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    background: radial-gradient(34.94% 34.94% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    opacity: 0.4;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    border-radius: 1000px;
    z-index: -1; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .logo:hover {
    opacity: .5; }

.logo_img {
  width: 45px; }

.logo_text {
  font-weight: 800;
  font-size: 20px; }

.red_text {
  color: #E11D2E; }

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  font-size: 13px;
  font-weight: 600; }
  .header_right a {
    font-weight: 600;
    opacity: 0.8;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .header_right a:hover {
      opacity: 1; }
    .header_right a p {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .header_right a:hover p {
      opacity: 1; }
  .header_right a:last-child {
    margin-left: 25px;
    padding: 10px 25px;
    background: #AC1216;
    border-radius: 10px; }
    .header_right a:last-child .red_link {
      font-weight: 600;
      font-size: 12px;
      opacity: 0.8;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .header_right a:last-child .red_link:hover {
        opacity: 1; }

.header_right_two {
  display: none; }

.wrapper_1_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 45px; }

.wr_left {
  position: relative;
  z-index: 2;
  width: 50%; }
  .wr_left::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 45%;
    max-height: 350px;
    left: -17%;
    bottom: -20%;
    background: -webkit-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    background: -o-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    background: radial-gradient(34.94% 34.94% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    opacity: 0.4;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    border-radius: 1000px; }

.wr_left_title {
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 5px; }

.wr_left_first_text {
  font-weight: 500;
  font-size: 15px;
  color: #71768E;
  margin-bottom: 30px; }

.wr_left_last_text {
  font-size: 22px;
  line-height: 28px;
  color: #A0A3B5;
  max-width: 508px;
  margin-bottom: 36px; }

.wr_left_about {
  max-width: 470px; }

.wr_left_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 20px;
  gap: 15px; }
  .wr_left_links a {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .wr_left_links a:hover {
      opacity: .5; }

.join {
  padding: 20px 40px;
  background: #E11D2E;
  border-radius: 10px;
  font-weight: 700; }

.more_about {
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  font-weight: 500;
  opacity: 0.9; }

.address {
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  padding: 15px 20px; }

.address_title {
  font-weight: 500;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 5px; }

.address_text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4); }

.wr_right {
  width: 50%; }

.shibu_img {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .shibu_img img {
    width: 80%;
    height: 80%;
    -o-object-fit: cover;
    object-fit: cover; }

.star {
  position: absolute; }

.star_1 {
  width: 10%;
  left: 0%;
  top: 34.63%; }

.star_2 {
  width: 15%;
  right: 0%;
  top: 40.63%; }

.star_3 {
  width: 9%;
  right: 15%;
  top: 0%; }

.decor {
  position: absolute;
  z-index: -1; }

.decor_1 {
  width: 100%;
  height: 100%;
  left: -15%;
  top: 0px;
  background: -webkit-radial-gradient(50% 50%, 33.58% 33.57%, rgba(225, 29, 46, 0.5) 0%, rgba(255, 81, 96, 0.155) 100%);
  background: -o-radial-gradient(50% 50%, 33.58% 33.57%, rgba(225, 29, 46, 0.5) 0%, rgba(255, 81, 96, 0.155) 100%);
  background: radial-gradient(33.58% 33.57% at 50% 50%, rgba(225, 29, 46, 0.5) 0%, rgba(255, 81, 96, 0.155) 100%);
  -webkit-filter: blur(50px);
  filter: blur(50px);
  border-radius: 1000px; }

.decor_2 {
  height: 40%;
  width: 40%;
  right: 0px;
  top: 0px;
  background: #2424EB;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(1, 0, 0, -1, 0, 0);
  transform: matrix(1, 0, 0, -1, 0, 0); }
  .decor_2::after {
    content: '';
    z-index: -1;
    position: absolute;
    right: 4.47%;
    top: 6.48%;
    background: -webkit-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, #ff5160 100%);
    background: -o-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, #ff5160 100%);
    background: radial-gradient(34.94% 34.94% at 50% 50%, #E11D2E 0%, #ff5160 100%);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    border-radius: 1000px;
    width: 100%;
    height: 100%; }

.decor_3 {
  width: 20%;
  height: 20%;
  right: 0%;
  bottom: -10%;
  background: -webkit-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
  background: -o-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
  background: radial-gradient(34.94% 34.94% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
  -webkit-filter: blur(50px);
  filter: blur(50px);
  border-radius: 1000px; }

.row {
  position: relative;
  overflow: hidden; }

.bottom_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #5A4039;
  padding: 11px 0;
  animation: slide 15s linear infinite reverse;
  overflow: hidden; }
  .bottom_content:last-child {
    position: absolute;
    top: 0;
    left: -100%; }
  .bottom_content p {
    margin-right: -50px;
    min-width: 300px;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(255, 245, 0, 0.6); }

@-webkit-keyframes slide {
  0% {
    padding-left: 100%; }
  100% {
    padding-left: 0; } }

@keyframes slide {
  0% {
    padding-left: 100%; }
  100% {
    padding-left: 0; } }

.shibu_img_2 {
  display: none; }
